In [91]:
import pandas as pd
import os

0

### Download latest version of params file from google drive

In [97]:
os.system('./update_csv.sh')

0

### Read in csv data, filtering by the "include" column

In [94]:
data     = pd.read_csv('params.csv')
included = data['include']==1
params   = data.loc[included,['name','min','max','location']]
params

                            name     min    max location
1                        displar  0.4000  0.950        P
2                          dleaf  0.0081  0.243        P
11               baseflow_scalar  0.0005  0.100        N
12  maximum_leaf_wetted_fraction  0.0100  0.500        N

### Demonstrating how to iterate through the params

In [100]:
for name,minval,maxval,loc in zip(params['name'],params['min'],params['max'],params['location']):
    print(name,minval,maxval,loc)

displar 0.4 0.95 P
dleaf 0.0081 0.243 P
baseflow_scalar 0.0005 0.1 N
maximum_leaf_wetted_fraction 0.01 0.5 N